body{

	background-image: url("img/background.jpg");
	margin:40px auto;
	max-width:800px;
	line-height:1.6;
	font-size:18px;
	padding:0 10px;
	font-family: monospace;
	font-size: 20px;
}

#pr {
	width:195px;
	height:529px;
	background-image: url("img/mandles.jpg");
  -webkit-animation: spin 6s infinite linear;
}

@-webkit-keyframes spin {
		from {
				-webkit-transform: rotateY(0deg);
		}
		to {
				-webkit-transform: rotateY(359deg);
		}
}

#a {
	z-index: -22;
	width: %;
	height: 1200px;

	background-image: url(img/duct-tape.png);
	background-size: 100px;
}

#btn-mandle{
	background-image: url("img/mandleman.png");
	background-size: 195px;
	width: 195px;
	height: 125px;
	border: none;
	padding-top: 70px;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-top: 5px;
	cursor: pointer;
}

.f  {
	background-color: #f0f0f0;
	padding: 5px;
	float: left;
	border: 5px solid gray;
	margin: 5px;
}

.s {
	width: 40%;

}

form input {
	margin-left: 5px;

}
